h1 {   
    color: #333;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}
body {
    font-family: Arial, sans-serif;
    text-align: justify;
    line-height: 1.5;
    background-color: #f4f4f4;
    padding: 20px;
}
h3 {
    color: #555;
    font-size: 1.8em;
    margin-top: 30px;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
ul li {
    margin-bottom: 10px;
    color: #666;
}
a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    margin-top: 40px;
    color: #999;
}
nav {
    background-color: #333;
    margin-bottom: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}
nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}